# This file is a sample configuration for the MCP backend services's knowledge retrieval APIs which uses text-embedding-ada-002 embedding model
AZURE_OPENAI_ENDPOINT="YOUR-OPENAI-SERVICE-ENDPOINT.openai.azure.com"
AZURE_OPENAI_API_KEY="YOUR-OPENAI-API-KEY"
AZURE_OPENAI_API_VERSION=2025-03-01-preview
AZURE_OPENAI_EMBEDDING_DEPLOYMENT="text-embedding-ada-002"
DB_PATH="data/contoso.db"
AAD_TENANT_ID=""
MCP_API_AUDIENCE=""
MCP_SERVER_URI="http://localhost:7000/mcp"
DISABLE_AUTH="false"

